<!DOCTYPE html>
<html lang="en">

<head>
    {% load  staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../image/favicon.ico">

    <title>共享书屋 - 宿舍管理系统</title>


 <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/student.css.css' %}" rel="stylesheet" type="text/css">




    <style>
        .table tbody tr td {
            vertical-align: middle;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#">学生宿舍管理系统</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="info_student.html"><span class="glyphicon glyphicon-user"></span> 何铭宜同学</a></li>
                    <li><a href="#">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 col-xs-3 sidebar" id="side">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="index.html">宿舍退调申请</a>
                    </li>
                    <li>
                        <a href="repair.html">宿舍设施报修申请</a>
                    </li>
                    <li>
                        <a href="payment.html">生活缴费</a>
                    </li>
                    <li>
                        <a href="resource.html">宿舍资源申请</a>
                    </li>
                    <li>
                        <a href="meeting.html">研讨室申请</a>
                    </li>
                    <li>
                        <a href="activity.html">社区活动申请</a>
                    </li>
                    <li class="active">
                        <a href="book.html">共享书屋<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">
                    共享书屋
                    <small>总共 42 本书</small>
                </h1>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#books" aria-controls="books" role="tab" data-toggle="tab">全部书籍</a>
                    </li>
                    <li role="presentation">
                        <a href="#borrow" aria-controls="borrow" role="tab" data-toggle="tab">我的借阅</a>
                    </li>
                    <li role="presentation">
                        <a href="#share" aria-controls="share" role="tab" data-toggle="tab">我的分享</a>
                    </li>
                </ul>

                <div class="tab-content" style="margin-top: 10px">

                    <div role="tabpanel" class="tab-pane active" id="books">

                        <div class="row" style="padding: 15px 0">
                            <div class="col-md-12">
                                <div class="col-md-3" style="padding-left: 0">
                                    <div class="input-group">
                                        <span class="input-group-addon">书名</span>
                                        <input type="text" class="form-control" placeholder="书名" name="book_name" value="">
                                    </div>
                                </div>
                                <!-- ./col-md-3 -->

                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">作者</span>
                                        <input type="text" class="form-control" autocomplete="off" placeholder="作者" name="book_author" value="">
                                    </div>
                                </div>
                                <!-- ./col-md-2 -->

                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">描述</span>
                                        <input type="text" class="form-control" placeholder="描述" autocomplete="off" name="book_word" value="">
                                    </div>
                                </div>
                                <!-- ./col-md-3 -->

                                <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">贡献者</span>
                                        <input type="text" class="form-control" placeholder="贡献者" autocomplete="off" name="contributor" value="">
                                    </div>
                                </div>
                                <!-- ./col-md-2 -->

                                <button class="btn btn-info" type="submit">检索</button>
                                <button class="btn btn-danger" type="submit">重置</button>
                            </div>

                        </div>
                        <!-- /.row -->

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>书名</th>
                                        <th>作者</th>
                                        <th>关键字</th>
                                        <th>分享者</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10000</td>
                                        <td>机器学习</td>
                                        <td>周志华</td>
                                        <td>机器学习、人工智能</td>
                                        <td>何铭宜</td>
                                        <td>
                                            <span class="label label-success">未借出</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#bookBorrow">借阅</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10001</td>
                                        <td>深度学习</td>
                                        <td>[美] Ian，Goodfellow，[加] Yoshua，Bengio</td>
                                        <td>深度学习、人工智能</td>
                                        <td>何铭宜</td>
                                        <td>
                                            <span class="label label-danger">已借出</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10002</td>
                                        <td>深度学习</td>
                                        <td>[美] Ian，Goodfellow，[加] Yoshua，Bengio</td>
                                        <td>深度学习、人工智能</td>
                                        <td>何铭宜</td>
                                        <td>
                                            <span class="label label-danger">已借出</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10003</td>
                                        <td>机器学习</td>
                                        <td>周志华</td>
                                        <td>机器学习、人工智能</td>
                                        <td>何铭宜</td>
                                        <td>
                                            <span class="label label-success">未借出</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#bookBorrow">借阅</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pull-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./pagination -->

                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.tab-pane -->

                    <div role="tabpanel" class="tab-pane" id="borrow">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>书名</th>
                                        <th>作者</th>
                                        <th>状态</th>
                                        <th>操作日期</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10000</td>
                                        <td>机器学习</td>
                                        <td>周志华</td>
                                        <td>
                                            <span class="label label-success">已归还</span>
                                        </td>
                                        <td>2017-09-02 21:50:03</td>

                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10001</td>
                                        <td>深度学习</td>
                                        <td>[美] Ian，Goodfellow，[加] Yoshua，Bengio</td>
                                        <td>
                                            <span class="label label-danger">未归还</span>
                                        </td>
                                        <td>2017-09-02 21:50:10</td>

                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#bookReturn">归还</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pull-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./pagination -->

                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.tab-pane -->

                    <div role="tabpanel" class="tab-pane" id="share">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>书名</th>
                                        <th>作者</th>
                                        <th>借阅数</th>
                                        <th>分享日期</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10000</td>
                                        <td>机器学习</td>
                                        <td>周志华</td>
                                        <td>
                                            <span class="label label-info">2</span>
                                        </td>
                                        <td>2017-09-02 21:50:03</td>

                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10001</td>
                                        <td>深度学习</td>
                                        <td>[美] Ian，Goodfellow，[加] Yoshua，Bengio</td>
                                        <td>
                                            <span class="label label-info">3</span>
                                        </td>
                                        <td>2017-09-02 21:50:10</td>

                                        <td>
                                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#bookInfo">查看</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pull-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- ./pagination -->

                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.tab-pane -->

                </div>
                <!-- /.tab-tab-content -->

            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="bookInfo" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">书籍: 机器学习</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning fade in" role="alert" id="modal-notify" style="display: none"></div>

                    <div class="row">
                        <form class="form-horizontal" id="form-operate">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">书名</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">深度学习</p>
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <span class="label label-danger">已借出</span>
                                    </p>
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label">作者</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">[美] Ian，Goodfellow，[加] Yoshua，Bengio</p>
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label">借阅次数</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <span class="label label-info">10</span>
                                    </p>
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static" style="min-height: 60px">
                                        机器学习是计算机科学与人工智能的重要分支领域. 本书作为该领域的入门教材，在内容上尽可能涵盖机器学习基础知识的各方面。 为了使尽可能多的读者通过本书对机器学习有所了解, 作者试图尽可能少地使用数学知识. 然而, 少量的概率、统计、代数、优化、逻辑知识似乎不可避免.
                                        因此, 本书更适合大学三年级以上的理工科本科生和研究生, 以及具有类似背景的对机器学 习感兴趣的人士. 为方便读者, 本书附录给出了一些相关数学基础知识简介.
                                    </p>
                                </div>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label">分享者</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">何铭宜</p>
                                </div>
                            </div>
                            <!-- /.form-group -->

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./bookInfo -->

    <div class="modal fade" tabindex="-1" role="dialog" id="bookBorrow" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">借阅书籍</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要借阅书名为「机器学习」的书籍么？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./bookBorrow -->

    <div class="modal fade" tabindex="-1" role="dialog" id="bookReturn" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">归还书籍</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要归还书名为「机器学习」的书籍么？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./bookReturn -->

    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="../js/jquery-2.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../js/holder.min.js"></script>
     <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>

</html>