<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../image/favicon.ico">

	<title>宿舍退调申请 - 宿舍管理系统</title>

    <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/student.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/student.css' %}" rel="stylesheet" type="text/css">

	<style>
		.table tbody tr td {
			vertical-align: middle;
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
				<a class="navbar-brand" href="#">学生宿舍管理系统</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="info_student.html"><span class="glyphicon glyphicon-user"></span> 何铭宜 同学</a></li>
					<li><a href="#">注销</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-xs-3 sidebar" id="side">
				<ul class="nav nav-sidebar">
					<li class="active">
						<a href="index.html">宿舍退调申请</a>
					</li>
					<li>
						<a href="repair.html">宿舍设施报修申请</a>
					</li>
					<li>
						<a href="payment.html">生活缴费</a>
					</li>
					<li>
						<a href="resource.html">宿舍资源申请</a>
					</li>
					<li>
						<a href="meeting.html">研讨室申请</a>
					</li>
					<li>
						<a href="activity.html">社区活动申请</a>
					</li>
					<li>
						<a href="book.html">共享书屋<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<h1 class="page-header">
					宿舍退调申请
					<div class="pull-right">
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#func_change">申请调整</button>
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#func_exit">申请退宿</button>
						<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#func_stay">留校申请</button>
					</div>
				</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#change_record" aria-controls="change_record" role="tab" data-toggle="tab" >调宿申请记录</a>
                    </li>
					<li role="presentation">

						<a href="#stay_record" aria-controls="stay_record" role="tab" data-toggle="tab">留校申请记录</a>

                    </li>
					<li role="presentation">
						<a href="#exit_record" aria-controls="exit_record" role="tab" data-toggle="tab">退宿申请记录</a>
					</li>
				</ul>

				<div class="tab-content" style="margin-top: 10px">
					<!--调宿申请记录-->
					<div role="tabpanel" class="tab-pane in active" id="change_record">
						<div class="table-responsive">
                        <form action="/dor/student_handle/dor_applyment/change_dor_applyment/" id="apply_change" method="post" >
						{% csrf_token %}
							<table class="table table-striped">
								<thead>
									<tr>
										<th>申请时间</th>
                                        <th>学号</th>
										<th>申请人</th>
										<th>现住宿舍</th>
										<th>经办人</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
                                {%  for i in DorChange %}
                                 <tr>
									<td>{{i.apply_time}}</td>
                                     <td >{{ i.sno }}</td>
									<td>{{i.sname}}</td>
									<td>{{i.old_dor_no}}{{i.old_room_no}}</td>
									<td>刘宿管</td>
									<td><span class="label label-danger">{{ i.status }}</span></td>
									<td>
										<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#check_change" >查看</button>
										<button type="button" class="btn btn-danger btn-xs">取消</button>
									</td>
								</tr>
                                {%endfor%}
								</tbody>
							</table>
                        </form>
						</div>
					</div>

					<!--留校申请记录-->
					<div role="tabpanel" class="tab-pane" id="stay_record">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>申请时间</th>
									<th>申请人</th>
									<th>现住宿舍</th>
									<th>经办人</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
                                {% for m in LiveOnVacation %}
								<tr>
									<td>{{m.apply_time}}</td>
									<td>{{m.sname}}</td>
									<td>{{m.dor_no}}</td>
									<td>刘宿管</td>
									<td><span class="label label-danger">{{ m.apply_status }}</span></td>
									<td>
										<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#check_stay">查看</button>
										<button type="button" class="btn btn-danger btn-xs">取消</button>
									</td>
								</tr>
                                {% endfor %}

								</tbody>
							</table>
						</div>
					</div>
					<!--退宿申请记录-->
					<div role="tabpanel" class="tab-pane" id="exit_record">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>申请时间</th>
									<th>申请人</th>
									<th>现住宿舍</th>
									<th>经办人</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
                                {%  for dorCancel in DorCancel %}
                                 <tr>
									<td>{{dorCancel.apply_time}}</td>
		 							<td>{{dorCancel.sname}}</td>
									<td>{{dorCancel.dor_no}}{{dorCancel.room_no}}</td>
									<td>刘宿管</td>
									<td><span class="label lab
									el-danger">申请失败</span></td>
									<td>
										<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{dorCancel.sno}}_checkOut">查看</button>
										<button type="button" class="btn btn-danger btn-xs">取消</button>
									</td>
								</tr>
                                {%endfor%}
								</tbody>
							</table>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="func_change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">申请调整</h4>
				</div>
				<div class="modal-body">
                        <div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学号:</label>
									<input type="text" class="form-control" name="sno" readonly="readonly" value="2014101027">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">姓名:</label>
									<input type="text" name="sname" class="form-control" readonly="readonly" value="王俊皓">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学院:</label>
									<label class="control-label">工学院</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">专业:</label>
									<label class="control-label">计算机科学与技术</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">现住宿舍:</label>
									<input type="text" name="old_dor_info"class="form-control" readonly="readonly" value="弘毅-ABC">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">申请时间:</label>
									<input type="text" name="apply_time" class="form-control" readonly="readonly" value="2017-09-09 13:30"/>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">联系电话:</label>
									<input type="text" name="phone" class="form-control">
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">邮箱:</label>
									<input type="text" class="form-control" value="14jhwang@stu.edu.cn">
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">拟申请宿舍:</label>
									<input type="text" name="new_dor_info" class="form-control" readonly="readonly" value="弘毅-110-3">
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">备注:</label>
									<textarea name="reason" class="form-control" placeholder="如申请原因等"></textarea>
								</div>
							</div>
						</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success"onclick="submit_change_applyment()">确认申请</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal - 申请调整 -->

	<div class="modal fade" id="func_exit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">申请退宿</h4>
				</div>
				<div class="modal-body">
					<form action="/dor/student_handle/dor_applyment/cancel_dor_applyment/" method="post" id="apply_cancel">
                        {% csrf_token %}
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学号:</label>
									<input type="text" name="sno" class="form-control" readonly="readonly" value="2014101027">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">姓名:</label>
                                    <input type="text" name="sname" class="form-control" readonly="readonly" value="王俊皓">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学院:</label>
									<label class="control-label">工学院</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">专业:</label>
									<label class="control-label">计算机科学与技术</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">现住宿舍:</label>
                                    <input type="text" name="dor_info"class="form-control" readonly="readonly" value="弘毅-ABC">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">申请时间:</label>
									<input type="text" name="apply_time" class="form-control" readonly="readonly" value="2017-09-09 13:40">
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">联系电话:</label>
									<input type="text" name="phone" class="form-control">
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">邮箱:</label>
									<input type="text" class="form-control" value="14jhwang@stu.edu.cn">
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="form-group">
									<label class="control-label">退宿原因:</label>
                                    <input type="text" name="reason" class="form-control" value="">
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">备注:</label>
									<textarea class="form-control"></textarea>
								</div>
							</div>
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" onclick="submit_cancel_applyment()">确认申请</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal - 申请退宿 -->

	<div class="modal fade" id="func_stay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">留校申请</h4>
				</div>
				<div class="modal-body">
					<form action="/dor/student_handle/dor_applyment/live_on_vacation_applyment/" method="post" id="apply_live_on_vacation">
                    {% csrf_token %}
						<div class="row">

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学号:</label>
									<input type="text" name="sno" class="form-control" readonly="readonly" value="2014101027">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">姓名:</label>
									<input type="text" name="sname" class="form-control" readonly="readonly" value="王俊皓">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学院:</label>
									<label class="control-label">工学院</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">专业:</label>
									<label class="control-label">计算机科学与技术</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">现住宿舍:</label>
                                    <input type="text" name="dor_info" class="form-control" readonly="readonly" value="弘毅 ABC">
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">申请时间:</label>
									<input type="text" name="apply_time" class="form-control" readonly="readonly" value="2017-09-09 14:00">
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">联系电话:</label>
									<input type="text" class="form-control">
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">邮箱:</label>
									<input type="text" class="form-control" value="14jhwang@stu.edu.cn">
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">留校原因:</label>
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
										 aria-expanded="true">
																	  -- 选择留校类别 --
																	  <span class="caret"></span>
															</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<li><a href="#">学术研究和实验</a></li>
											<li><a href="#">公益项目和专项活动</a></li>
											<li><a href="#">考研和出国考试复习</a></li>
											<li><a href="#">其他</a></li>
										</ul>
									</div>
								</div>
							</div>



							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">留校时间:</label>
									<div class="checkbox">
										<label><input type="checkbox" value="">2017-07-04 至 2017-07-28 (暑假)</label>
										<br>
										<label><input type="checkbox" value="">2017-07-29 至 2017-08-23 (暑假)</label>
									</div>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">备注:</label>
									<textarea name="detail" class="form-control"></textarea>
								</div>
							</div>
						</div>

					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" onclick="submit_live_on_vacation()">确认申请</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal - 留校申请 -->


	<div class="modal fade" id="check_change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">申请调整</h4>
				</div>
				<div class="modal-body">
                        {% for i in DorChange %}
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学号:</label>
									<label class="control-label">{{ i.sno }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">姓名:</label>
									<label class="control-label">{{ i.sname }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学院:</label>
									<label class="control-label">工学院</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">专业:</label>
									<label class="control-label">计算机科学与技术</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">现住宿舍:</label>
									<label class="control-label">{{ i.old_dor_no }}{{ i.old_room_no }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">申请时间:</label>
									<label class="control-label">{{ i.apply_time }}</label>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">联系电话:</label>
									<label class="control-label">{{ i.phone }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">邮箱:</label>
									<label class="control-label">{{ i.email }}</label>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">拟申请宿舍:</label>
									<label class="control-label">{{ i.new_dor_no }}{{ i.new_room_no }}</label>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">备注:</label>
									<p>{{ i.reason }}</p>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">状态：</label>
									<label class="label label-success">{{ i.status }}</label>
								</div>
							</div>

						</div>
{% endfor %}

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">确认</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal - 查看调整 -->

	<div class="modal fade" id="2014081032_checkOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">申请退宿</h4>
				</div>
				<div class="modal-body">
					<form>
                        <!-- {%  for i in DorCancel %} -->
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学号:</label>
									<label class="control-label">df</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">姓名:</label>
									<label class="control-label">d</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学院:</label>
									<label class="control-label">工学院</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">专业:</label>
									<label class="control-label">计算机科学与技术</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">现住宿舍:</label>
									<label class="control-label">d</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">申请时间:</label>
									<label class="control-label">d</label>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">联系电话:</label>
									<label class="control-label">13411989237</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">邮箱:</label>
									<label class="control-label">14myhe@stu.edu.cn</label>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="form-group">
									<label class="control-label">退宿原因:</label>
									<p>d</p>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">备注:</label>
									<p>这是学生备注这是学生备注这是学生备注这是学生备注这是学生备注这是学生备注这是学生备注这是学生备注</p>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">状态：</label>
									<label class="label label-success">d</label>
								</div>
							</div>
						</div>
                    <!-- {% endfor %} -->
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">确认</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal - 查看退宿 -->

	<div class="modal fade" id="check_stay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">留校申请</h4>
				</div>
				<div class="modal-body">
					<form>
                        {% for i in LiveOnVacation %}
						<div class="row">

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学号:</label>
									<label class="control-label">{{ i.sno }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">姓名:</label>
									<label class="control-label">{{ i.sname }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">学院:</label>
									<label class="control-label">工学院</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">专业:</label>
									<label class="control-label">计算机科学与技术</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">现住宿舍:</label>
									<label class="control-label">{{ i.dor_no }}</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">申请时间:</label>
									<label class="control-label">{{ i.apply_time }}</label>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">联系电话:</label>
									<label class="control-label">12312345678</label>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
								<div class="form-group">
									<label class="control-label">邮箱:</label>
									<label class="control-label">14jhwang@stu.edu.cn</label>
								</div>
							</div>

							<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
								<div class="form-group">
									<label class="control-label">留校原因:</label>
									<label class="control-label">学术研究和实验</label>
								</div>
							</div>



							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">留校时间:</label>
									<div class="checkbox">
										<label>2017-07-04 至 2017-07-28 (暑假)</label>
										<br>
										<label>2017-07-29 至 2017-08-23 (暑假)</label>
									</div>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">备注:</label>
									<p>这是学生的申请备注这是学生的申请备注这是学生的申请备注这是学生的申请备注这是学生的申请备注这是学生的申请备注</p>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<label class="control-label">状态：</label>
									<label class="label label-success">{{ i.apply_status }}</label>
								</div>
							</div>
						</div>
{% endfor %}
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">确认</button>
					<button type="button" class="btn btn-primary">确认</button>
				</div>
			</div>
		</div>
	</div>
	<!-- modal - 查看留校 -->


	<!-- Bootstrap core JavaScript
      ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- <script src="bootstrap/js/jquery-2.2.1.min.js"></script> -->
	<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
	<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	<!-- <script src="../js/holder.min.js"></script> -->
  <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/holder.min.js' %}"></script>
</body>
<script>
    function submit_change_applyment(){
        document.getElementById("apply_change").submit();
    }
    function submit_cancel_applyment()
    {
        document.getElementById("apply_cancel").submit();
    }
    function submit_live_on_vacation() {
        document.getElementById("apply_live_on_vacation").submit();
    }
    function show_change_dor_log(){
        document.getElementById("change_dor_log").submit();
    }
    function show_dor_change_detail()
    {

        document.getElementById("change_dor_detail").submit();
    }
</script>
</html>