<!DOCTYPE html>
<html lang="en">
<head>
    {% load  staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="bootstrap/image/favicon.ico">

    <title>留校时间设置 - 宿舍管理系统</title>
    <style>
        .input-group {
            padding: 3px 10px;
            border-top-left-radius: 15px;
        }
    </style>
    <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/admin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生宿舍管理系统</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="info_admin.html"><span class="glyphicon glyphicon-user"></span> 李新老师</a></li>
                <li><a data-toggle="modal" data-target="#logout">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="index.html">宿舍退调申请处理</a></li>
                <li><a href="repair.html">宿舍报修申请处理</a></li>
                <li><a href="resource.html">宿舍资源申请处理</a></li>
                <li><a href="meeting.html">研讨室申请处理</a></li>
                <li><a href="activity.html">社区活动申请处理</a></li>
                <li><a href="bookManager.html">共享书屋</a></li>
                <li><a href="searchInfo.html">宿生信息检索</a></li>
                <li><a href="checkIn.html">入宿处理</a></li>
                <li class="active"><a href="extraStayTime.html">留校时间段设置<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                留校时间段设置

                <!-- <div class="btn-group pull-right">
                    <button class="btn btn-primary">留校时间更改</button>
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-toggle="modal" href="#winter2017Modal">2017年寒假留校时间更改</a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#summer2017Modal">2017年暑假留校时间更改</a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#winter2018Modal">2018年寒假留校时间更改</a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#summer2018Modal">2018年暑假留校时间更改</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">更多</a>
                        </li>
                    </ul>
                </div>
 -->
            </h1>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#winterTime" data-toggle="tab">留校时间设置</a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">留校时间设置记录</a>
                </li>

            </ul>

            <div class="tab-content" style="margin-top: 10px">

                <div class="tab-pane in active" id="winterTime">
                    <div class="table-responsive">
                        <br>
                        <br>
                        <br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column" style="padding-left: 200px">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <p>
                                    <h4 style="text-align: center;">Vocation VS Learning</h4>
                                    </p>
                                </div>
                                <div class="panel-body">
                                    <form action="" class="form-horizontal" role="form"
                                          style="padding-left: 50px;font-size: 16px">
                                        <!-- 年份和假期选择器 -->
                                        <div class="form-group">
                                            <label class="col-md-5">年份</label>
                                            <label class="col-md-5">假期</label>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-5">
                                                <input id="staying_selected_year" class="form-control form_year" data-date="2017"
                                                       data-date-format="yyyy" size="16" type="text" >
                                                <!-- <select name="" id="year" class="form-control"
                                                        style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                                                    <option value="">2016年</option>
                                                    <option value="">2017年</option>
                                                    <option value="">2018年</option>
                                                    <option value="">2019年</option>
                                                </select> -->
                                            </div>
                                            <div class="col-md-5">
                                                <select id="select_vocation_menu" name="" class="form-control "
                                                        style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                                                    <option value="寒假">寒假</option>
                                                    <option value="暑假">暑假</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- 留校时间日期选择 -->
                                        <div class="form-group">
                                            <label class="col-md-5">第一阶段</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group date col-md-10">
                                                <input id="staying_first_time_start" class="form-control form_date" data-date="2017/01/01"
                                                size="16" type="text" >
                                                <label class="input-group-addon">至</label>
                                                <input id="staying_first_time_end" class="form-control form_date" data-date="2017/01/01"
                                                 size="16" type="text" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-5">第二阶段</label>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group date col-md-10">
                                                <input id="staying_second_time_start" class="form-control form_date" data-date="2017/01/01"
                                                size="16" type="text">
                                                <label class="input-group-addon">至</label>
                                                <input id="staying_second_time_end" class="form-control form_date" data-date="2017/01/01"
                                                size="16" type="text" >
                                            </div>
                                        </div>
                                        <div class="form-group">

                                        </div>
                                    </form>
                                    <div class="panel-heading">
                                        <div class="col-md-7"></div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-default btn-primary"
                                                    data-toggle="modal" onclick="setStayingTime(this)">设置
                                            </button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-danger" onclick="time_reset(this)">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--寒假留校时间 panel-->

                    <div class="tab-pane" id="summerTime">
                        <!-- <div class="table-responsive">
                            出去浪吗
                        </div> -->
                    </div>
                    <!--暑假留校时间 panel-->
                </div>
            </div>

        </div>

    </div>
</div>
<!--2017年寒假留校时间修改modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="winter2017Modal" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">2017年寒假留校时间修改</h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>已设值的留校时间:</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/01/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/21"
                                    readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改人</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <input class="form-control"
                                       style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;"
                                       size="16" type="text" value="李新" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改时间：</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                <button class="btn btn-primary">确定修改</button>
            </div>
        </div>
    </div>
</div>

<!--2017年暑假留校时间修改modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="summer2017Modal" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">2017年寒假留校时间修改</h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>已设值的留校时间:</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/01/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/21"
                                    readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改人</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <input class="form-control"
                                       style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;"
                                       size="16" type="text" value="李新" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改时间：</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                <button class="btn btn-primary">确定修改</button>
            </div>
        </div>
    </div>
</div>

<!--2018年寒假留校时间修改modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="winter2018Modal" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">2017年寒假留校时间修改</h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>已设值的留校时间:</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/01/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/21"
                                    readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改人</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <input class="form-control"
                                       style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;"
                                       size="16" type="text" value="李新" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改时间：</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                <button class="btn btn-primary">确定修改</button>
            </div>
        </div>
    </div>
</div>


<!--2018年暑假留校时间修改modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="summer2018Modal" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">2017年寒假留校时间修改</h4>
            </div>
            <div class="modal-body">
                <form>
                    <p>已设值的留校时间:</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/01/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/01"
                                    readonly="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="2017/02/21"
                                    readonly="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改人</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <input class="form-control"
                                       style="border-top-right-radius: 5px;border-bottom-right-radius: 5px;"
                                       size="16" type="text" value="李新" readonly="">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <p>修改时间：</p>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第一阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <label class="control-label">第二阶段时间:</label>
                                <div class="input-group">
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                    <label class="input-group-addon">至</label>
                                    <input class="form-control form_date" data-date="2017/01/01"
                                           data-date-format="yyyy/MM/dd " size="16" type="text" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消修改</button>
                <button class="btn btn-primary">确定修改</button>
            </div>
        </div>
    </div>
</div>
<!--留校时间设置成功 modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="setTimeSuccess" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>已经成功设置留校时间</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <a href="">
                    <button type="button" class="btn btn-primary">确定</button>
                </a> -->
            </div>
        </div>
    </div>
</div>

<!--注销modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="logout" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>是否注销？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a href="../index.html">
                    <button type="button" class="btn btn-primary">确定</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            language: 'zh',
            startDate: new Date(),
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            minView: 2,
            showMeridian: 1,
            todayHighlight: 1
        });
        $('.form_date').datetimepicker({
            language: 'zh',
            startDate: new Date(),
            format: 'yyyy-mm-dd 00:00',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_year').datetimepicker({
            language: 'zh',
            startView: 'decade',  
            minView: 'decade',  
            format: 'yyyy',  
            maxViewMode: 2,  
            minViewMode:2,  
            autoclose: true  
        });
    </script>
    <script type="text/javascript">
        function setStayingTime(obj){
            staying_first_time_start = $('#staying_first_time_start').val()
            staying_first_time_end = $('#staying_first_time_end').val()
            staying_second_time_start = $('#staying_second_time_start').val()
            staying_second_time_end = $('#staying_second_time_end').val()
            selected_year = $('#staying_selected_year').val()
            selected_vocation = $('#select_vocation_menu').val()
            
            $.ajax({
                url:"/dor/admin_handle/set_staying_time/set_application_staying_time",
                type:"GET",
                data:{selected_year:selected_year,
                    selected_vocation:selected_vocation,
                    first_start_time:staying_first_time_start,
                    first_end_time:staying_first_time_end,
                    second_start_time:staying_second_time_start,
                    second_end_time:staying_second_time_end},
                success:function(res){
                    
                    $('#setTimeSuccess').modal('show')
                },
            })

        } 
        // function time_reset(this){

        // }
    </script>

</html>