<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../image/favicon.ico">

    <title>资源申请处理 - 宿舍管理系统</title>

     <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/admin.css' %}" rel="stylesheet" type="text/css">




</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生宿舍管理系统</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="info_admin.html"><span class="glyphicon glyphicon-user"></span> 李新老师</a></li>
                <li><a data-toggle="modal" data-target="#logout">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="index.html">宿舍退调申请处理</a></li>
                <li><a href="repair.html">宿舍报修申请处理</a></li>
                <li class="active"><a href="resource.html">宿舍资源申请处理<span class="sr-only">(current)</span></a></li>
                <li><a href="meeting.html">研讨室申请处理</a></li>
                <li><a href="activity.html">社区活动申请处理</a></li>
                <li><a href="bookManager.html">共享书屋</a></li>
                <li><a href="searchInfo.html">宿生信息检索</a></li>
                <li><a href="checkIn.html">入宿处理</a></li>
                <li><a href="extraStayTime.html">留校时间段设置</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                宿舍资源申请处理
                <div class="pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#func_key">借用钥匙</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#func_ac">借用空调遥控器
                    </button>
                </div>
            </h1>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#needToDealt" data-toggle="tab">
                        待办事项
                    </a>
                </li>
                <li>
                    <a href="#log" data-toggle="tab">
                        记录
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="margin-top: 10px">
                <!--待办事项 panel-->
                <div class="tab-pane in active" id="needToDealt">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>申请人</th>
                                <th>现住宿舍</th>
                                <th>资源名称</th>
                                <th>借用时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>何铭宜</td>
                                <td>E666-6</td>
                                <td>钥匙</td>
                                <td>2017-10-01 08:00:00</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#adminDealtResource">
                                        归还
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>何铭宜</td>
                                <td>E666-6</td>
                                <td>空调遥控器</td>
                                <td>2017-10-01 08:00:00</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#adminDealtResource">
                                        归还
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--记录 panel-->
                <div class="tab-pane" id="log">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>#</td>
                                <td>申请人</td>
                                <th>现住宿舍</th>
                                <th>资源名称</th>
                                <td>申请时间</td>
                                <td>申请状态</td>
                                <td>资源状态</td>
                                <td>详情</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>张敏华</td>
                                <td>E214-2</td>
                                <td>钥匙</td>
                                <td>2017-10-01 08:00:00</td>
                                <td>
                                    <label class="label label-danger">失败</label>
                                </td>
                                <td>
                                    <label class="label label-success"></label>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#adminResourceLog">
                                        查看
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>张敏华</td>
                                <td>E214-2</td>
                                <td>空调遥控器</td>
                                <td>2017-10-01 08:00:00</td>
                                <td>
                                    <label class="label label-success">成功</label>
                                </td>
                                <td>
                                    <label class="label label-danger">未归还</label>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            data-target="#adminResourceLog">
                                        查看
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--待办事项modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="adminDealtResource" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">资源归还</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学号:</label>
                                <label class="control-label">2014101027</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">姓名:</label>
                                <label class="control-label">王俊皓</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请时间:</label>
                                <label class="control-label">2017年21年99日 -1时</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学院:</label>
                                <label class="control-label">工学院</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">专业:</label>
                                <label class="control-label">计算机科学与技术</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">宿舍:</label>
                                <label class="control-label">弘毅 ABC</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">联系电话:</label>
                                <label class="control-label">12312345678</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">邮箱:</label>
                                <label class="control-label">14jhwang@stu.edu.cn</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">资源名称:</label>
                                <input type="text" class="form-control" readonly="readonly" value="空调遥控器">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注:</label>
                                <p class="control-label">学生的申请备注XXXXXXXXXXXXXXX</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-primary">确认归还</button>
            </div>
        </div>
    </div>
</div>

<!--记录modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="adminResourceLog" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">申请记录查看</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">配予的资源:</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">:</label>
                                <label class="control-label">王俊皓</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请时间:</label>
                                <label class="control-label">2017年21年99日 -1时</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学院:</label>
                                <label class="control-label">工学院</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">专业:</label>
                                <label class="control-label">计算机科学与技术</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">宿舍:</label>
                                <label class="control-label">弘毅 ABC</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">联系电话:</label>
                                <label class="control-label">12312345678</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">邮箱:</label>
                                <label class="control-label">14jhwang@stu.edu.cn</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">资源名称:</label>
                                <label class="control-label">钥匙</label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注:</label>
                                <p class="control-label">学生的申请备注XXXXXXXXXXXXXXX</p>
                            </div>
                        </div>
                        <hr/>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请状态:</label>
                                <label class="label label-success">成功</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">资源状态:</label>
                                <label class="label label-danger">未归还</label>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!--注销modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="logout" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>是否注销？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a href="../index.html">
                    <button type="button" class="btn btn-primary">确定</button>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="func_key" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">借用钥匙</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请人学号:</label>
                                <input type="text" class="form-control" value="2014101027">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请人一卡通号:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请人姓名:</label>
                                <input type="text" class="form-control" readonly="readonly" value="王俊皓">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">借用时间:</label>
                                <input type="text" class="form-control" readonly="readonly" value="当前时间">
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">现住宿舍:</label>
                                <input type="text" class="form-control" readonly="readonly" value="弘毅ABC">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">借用原因:</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注:</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认借用</button>
            </div>
        </div>
    </div>
</div>
<!-- modal - 借用钥匙 -->


<div class="modal fade" id="func_ac" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">借用空调遥控器</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请人学号:</label>
                                <input type="text" class="form-control" value="2014101027">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请人一卡通号:</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请人姓名:</label>
                                <input type="text" class="form-control" readonly="readonly" value="王俊皓">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">借用时间:</label>
                                <input type="text" class="form-control" readonly="readonly" value="当前时间">
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">现住宿舍:</label>
                                <input type="text" class="form-control" readonly="readonly" value="弘毅ABC">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">借用原因:</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注:</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认借用</button>
            </div>
        </div>
    </div>
</div>
<!-- modal - 借用空调 -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="../js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>
<script src="../js/ie10-viewport-bug-workaround.js"></script>
     <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</body>

</html>